{%extends "blog/base.html"%}
{% block content%}
<h1 class="page-header">
    Page Heading
    <small>Secondary Text</small>
</h1>

                    <!-- First Blog Post -->
{% for post in posts %}
<h2>
    <a href="post">{{post.title}}</a>
</h2>
<p class="lead">
    by {{post.user}}
</p>
<p><span class="glyphicon glyphicon-time"></span>{{post.published_date}}</p>
<hr>
<img class="img-responsive" src="{{post.image}}" alt="">
<hr>
<p>{{post.content|truncatewords:20}}</p>
    <p>Tags</p>
    {% for tag in tags %}
<p><a href="{% url 'tag' name=tag.name %}"> #{{ tag.name }} </a></p>{% endfor %}
    <p>Comments:</p>
    {% for comment in comments %}
        <p><img src="{{ comment.photo.url }}" width="50" height="50" alt="com">{{ comment.author }}: {{ comment.text }}</p>
        <p>{{ comment.data_publish}}</p>{% endfor %}
<a class="btn btn-primary" href="{% url 'post' title=post.title %}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

<hr>

{%endfor%}
{% include "blog/pagination.html" with page=posts %}
{% endblock %}