 <ul class="pager">
                    <li class="previous">
                        {% if page.has_previous %}
                        <a href="?page={{ page.previous_page_number }}">&larr; Older</a>
                        {% endif %}
                    </li>
<span>Page {{ page.number }} of {{ page.paginator.num_pages }}</span>
                    <li class="next">
                        {% if page.has_next %}
                        <a href="?page={{ page.next_page_number }}">Newer &rarr;</a>
                        {% endif %}
                    </li>
                </ul>